<!DOCTYPE html>
<html>
<head>
    <title>Toko Guruh</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <h1>Toko Guruh</h1>
    <a href="/new">Add New Product</a>
    <ul>
        <% products.forEach(product => { %>
            <li>
                <h2><a href="/<%= product._id %>"><%= product.name %></a></h2>
                <p>Price: <%= product.price %></p>
                <p>Description: <%= product.description %></p>
                <a href="/<%= product._id %>/edit">Edit</a>
                <form action="/<%= product._id %>?_method=DELETE" method="POST">
                    <button type="submit">Delete</button>
                </form>
            </li>
        <% }) %>
    </ul>
</body>
</html>
